<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

    <!-- inject:css -->
		<link rel="stylesheet" href="{{ asset("../../../../bower_components/fancybox/dist/jquery.fancybox.css") }}">
		<link rel="stylesheet" href="{{ asset("../../../../dest/style_flavis.css") }}">
		<link rel="stylesheet" href="{{ asset("../../../../dest/style_kanso.css") }}">
		<!-- endinject -->

	</head>
	<body class="{{ bodyClass }}">

