
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

  <script type="text/javascript">
    // Fake demo data for Drupal JavaScript settings object.
    var drupalSettings = {
      breakpointMediaQueries: {
        mobile: 'all and (min-width: 0px) and (max-width: 767px)',
        tabletportrait: 'all and (min-width: 768px) and (max-width: 899px)',
        tabletlandscape: 'all and (min-width: 900px) and (max-width: 1024px)',
        desktop: 'all and (min-width: 1025px)'
      }
    };
  </script>

  <!-- inject:js -->
    <script src="{{ asset("../../../../bower_components/jquery/dist/jquery.js") }}"></script>
    <script src="{{ asset("../../../../bower_components/jquery-once/jquery.once.js") }}"></script>
    <script src="{{ asset("../../../../bower_components/domready/ready.js") }}"></script>
    <script src="{{ asset("../../../../bower_components/drupal8/index.js") }}"></script>
    <script src="{{ asset("../../../../bower_components/foundation-sites/dist/js/foundation.js") }}"></script>
    <script src="{{ asset("../../../../bower_components/slick-carousel/slick/slick.min.js") }}"></script>
    <script src="{{ asset("../../../../bower_components/fancybox/dist/jquery.fancybox.js") }}"></script>
    <script src="{{ asset("../../../../dest/script.js") }}"></script>
    <!-- endinject -->

	</body>
</html>
